<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <h3>
    抽獎管理
  </h3>

  <div class="row">
    <div class="col-md-3">
      <form action="/createGame" method="POST">
        <div class="form-group">
        
        <label>獎項</label>
        <input class="form-control" name="gid" type="text" /><br/>

        <label>獎品列表</label>
        <input class="form-control" name="award_list" type="text" /><br/>
        
        <label>數量</label>
        <input class="form-control" name="participant_count" type="text" /><br/>

        <input type="checkbox" onchange="terms(this);"> 快速抽獎
        <input type="hidden" id="type" name="type" value="1"/>
        <br/>
        <br/>
        <button type="submit" value="submit">submit</button>
        </div>
      </form>
    </div>

    <div class="col-md-9">
      <% if (results) { %>
        共有 <%= results.length %> 個獎項
        <table class="table table-bordered table-hover">
          <tr>
            <th>操作</th>
            <th>獎項</th>
            <th>獎品列表</th>
            <th>數量</th>
            <th>剩餘</th>
            <th></th>
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td>
              <a class="btn btn-primary" href='/deleteGame/<%= it.id %>'>刪除</a>

              <% if (it.exec_type != 0) { %>
                <a class="btn btn-primary" href='/editWinner/<%= it.id %>'>修改得獎者</a>
              <% } %>

              <% if (it.reminder_count > 0) { %>
                <% if (it.exec_type == 0 && count >= it.reminder_count) { %>
                  <a class="btn btn-primary" href='/playNormal/<%= it.id %>'>進入抽獎介面</a>
                <% } else if (count >= 1) { %>
                  <a class="btn btn-primary" href='/execute/<%= it.id %>/false'>進入抽獎介面</a>
                <% } %>
              <% } %>
             
            </td>
            <td><%= it.gid %></td>
            <td><%= it.award_list %></td>
            <td><%= it.participant_count %></td>
            <td><%= it.reminder_count %></td>
            <td><%= (it.exec_type == 0) ? '快速抽獎' : '大獎' %></td>

          </tr>
        <% }); %>
        </table>

      <form action="/normalGameReplay" method="GET">
        <button type="submit" value="submit">一般獎項重抽獎</button>
      </form>

      <form action="/gameComplete" method="GET">
        <button type="submit" value="submit">完成抽獎</button>
      </form>
      <% } %>
       
    </div>
  </div>
</div>


</body>

<script type="text/javascript">

function terms(el) {
    if (el.checked == true) {
        document.getElementById('type').value = 0;
    } else {
        document.getElementById('type').value = 1;
    }
}
</script>
</html>
