<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <h3>
    Gameplay
  </h3>

  <div class="row">
    <div class="col-md-3">
      <form action="/createGame" method="POST">
        <div class="form-group">
        
        <label>Gid</label>
        <input class="form-control" name="gid" type="text" /><br/>

        <label>Award List</label>
        <input class="form-control" name="award_list" type="text" /><br/>
        
        <label>Count</label>
        <input class="form-control" name="participant_count" type="text" /><br/>

        <label>Type</label>
        <input class="form-control" name="type" type="text" /><br/>

        <button type="submit" value="submit">submit</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <% if (results) { %>
        There are <%= results.length %> gameplaies
        <table class="table table-bordered table-hover">
          <tr>
            <th>operation</th>
            <th>#</th>
            <th>gid</th>
            <th>award list</th>
            <th>count</th>
            <th>type</th>
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td>
              <a class="btn btn-primary" href='/deleteGame/<%= it.id %>'>del</a>
              <% if (it.played_time == null) { %>
                 <a class="btn btn-primary" href='/execute/<%= it.id %>'>play</a>
              <% } %>
            </td>
            <td><%= it.id %></td>
            <td><%= it.gid %></td>
            <td><%= it.award_list %></td>
            <td><%= it.participant_count%></td>
            <td><%= it.exec_type %></td>
          </tr>
        <% }); %>
        </table>
      <% } %>
 
    </div>
  </div>
</div>


</body>
</html>
