
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>

      <% if (results) { %>
             <%= results[0].awardList %> 共 <%= results.length %> 個
      <% } %>
      </h3>

      <% if (results) { %>
      <table class="table table-bordered table-hover">
          <tr>
            <th></th>
            <th>號碼</th>
            <th>姓名</th>
            <th>桌次</th>
          </tr>
      </table>
      <table id="content1" class="table table-bordered table-hover">
          <% for(var i=0; i<results.length; i++) { %>
            <tr id="p<%= results.length - i %>" style="visibility: hidden;">
                <td><%= results.length - i %></td>
                <td><%= results[i].uid %></td>
                <td><%= results[i].name %></td>
                <td><%= results[i].table_num %></td>
            </tr>
          <% } %>
      </table>
      <table id="content" class="table table-bordered table-hover">
      </table>
      <% } %>

    </div>
  </div>
</div>

<script>
<% if (results) { %>
    var rowLength = <%= results.length %>;
    var count = 0;
    var content = <%- JSON.stringify(results) %>

    function show() {
        document.getElementById("p"+(count+1)).style.visibility = "visible";

        $('#content').append(
                      '<tr><td>'+ (content.length - count)  +'</td>'+
                          '<td>'+ content[count].uid +'</td>'+
                          '<td>'+ content[count].name +'</td>'+
                          '<td>'+ content[count].table_num +'</td></tr>'
        );
        if (count != rowLength) {
            count++;
        }
    }

    var intervalId = setInterval(show,2000)
<% }%>
</script>