
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>

      <% if (results) { %>
             <%= results[0].awardList %> 共 <%= results.length %> 個
      <% } %>
      </h3>

      <% if (results) { %>
      <table class="table table-bordered table-hover">
          <tr>
            <th></th>
            <th>號碼</th>
            <th>姓名</th>
            <th>桌次</th>
          </tr>

          <% for(var i=0; i<results.length; i++) { %>
            <tr id="p<%= results.length - i %>" style="visibility: hidden;">
                <td height="0%"><%= results.length - i %></td>
                <td height="0%"><%= results[i].uid %></td>
                <td height="0%"><%= results[i].name %></td>
                <td height="0%"><%= results[i].table_num %></td>
            </tr>
          <% } %>
      </table>
      <% } %>

    </div>
  </div>
</div>

<script>
<% if (results) { %>
    var rowLength = <%= results.length %>;
    var count = 1;

    function show() {
        document.getElementById("p"+count).style.visibility = "visible";
        if (count != rowLength) {
            count++;
        }
    }

    var intervalId = setInterval(show,2000)
<% }%>
</script>