
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<script>
function sleep(seconds)
{
  var e = new Date().getTime() + (seconds * 1000);
  while (new Date().getTime() <= e) {}
}
</script>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        得獎者列表
      </h3>
    
      <% if (results) { %>
      <table class="table table-bordered table-hover">
          <tr>
            <th>號碼</th>  
            <th>姓名</th>  
            <th>桌次</th>  
            <th>中獎獎品</th>  
            <th>中獎時間</th>  
            <th>領獎時間</th>  
          </tr>

          <%
            for(var i=0; i<results.length; i++) {


          %>
                   <tr id="p<%= i+1 %>" style="visible:hidden">
                      <td><%= results[i].uid %></td>
                      <td><%= results[i].name %></td>
                      <td><%= results[i].table_num %></td>
                      <td><%= results[i].awardList %></td>
                      <td><%= results[i].award_time %></td>
                      <td><%= results[i].getgift_time %></td>
                    </tr>
          <% } %>
<!--
        <% results.forEach( (it) => {%>
          <tr >
            <td><%= it.uid %></td> 
            <td><%= it.name %></td> 
            <td><%= it.table_num %></td> 
            <td><%= it.awardList %></td>
            <td><%= it.award_time %></td>
            <td><%= it.getgift_time %></td>
          </tr>
        <% }); %>
-->
      </table>
      <% } %>

    </div>
  </div>
</div>

<script>
document.getElementById("p1").style.visibility = "visible";
</script>