
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        得獎者列表
      </h3>
    
      <% if (results) { %>
      <table class="table table-bordered table-hover">
          <tr>
            <th>號碼</th>
            <th>姓名</th>
            <th>桌次</th>
            <th>中獎獎品</th>
            <th>中獎時間</th>
            <th>領獎時間</th>
          </tr>

          <% for(var i=0; i<results.length; i++) { %>
                   <tr id="p<%= i+1 %>" style="visibility: hidden;">
                      <td><%= results[i].uid %></td>
                      <td><%= results[i].name %></td>
                      <td><%= results[i].table_num %></td>
                      <td><%= results[i].awardList %></td>
                      <td><%= results[i].award_time %></td>
                      <td><%= results[i].getgift_time %></td>
                    </tr>
          <% } %>
      </table>
      <% } %>

    </div>
  </div>
</div>

<script>
      <% if (results) { %>
      var rowLength = <%= results.length %>;

function show() {

document.getElementById("p1").style.visibility = "visible";
}
var intervalId = setInterval(show,2000)
      <% } else { %>
      var rowLength = 0;
      <% }%>


</script>