
<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
  function sleep(ms){

  var starttime= new Date().getTime();

  do{

  }while((new Date().getTime()-starttime)<ms)

  }
  </script>
  <% include ../partials/header.ejs %>

</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        得獎者列表
      </h3>
    
      <% if (results) { %>
      <table class="table table-bordered table-hover">
          <tr>
            <th>號碼</th>  
            <th>姓名</th>  
            <th>桌次</th>  
            <th>中獎獎品</th>  
            <th>中獎時間</th>  
            <th>領獎時間</th>  
          </tr>
        <% results.forEach( (it) => { sleep(1000);%>
          <tr>
            <td><%= it.uid %></td> 
            <td><%= it.name %></td> 
            <td><%= it.table_num %></td> 
            <td><%= it.awardList %></td>
            <td><%= it.award_time %></td>
            <td><%= it.getgift_time %></td>
          </tr>
        <% }); %>
      </table>
      <% } %>

    </div>
  </div>
</div>