
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>
        重抽得獎者列表
      </h3>
    
      <% if (results) { %>
      <table class="table table-bordered table-hover">
          <tr>
            <th>姓名</th>
            <th>桌次</th>  
            <th>中獎獎品</th>
            <th>中獎時間</th>
            <th>領獎時間</th>
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td><%= it.name %></td>
            <td><%= it.table_num %></td> 
            <td><%= it.award_list %></td>
            <td><%= it.award_time %></td>
            <td><%= it.getgift_time %></td>
          </tr>
        <% }); %>
      </table>
      <% } %>

    </div>
  </div>
</div>
