<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>
        報到管理
      </h3>

      手動報到
      <form action="/createPerson" method="POST">
        <div class="form-group">
        
        <label>號碼</label>
        <input class="form-control" name="uid" type="text" /><br/>

        <label>姓名</label>
        <input class="form-control" name="name" type="text" /><br/>
        
        <label>桌次</label>
        <input class="form-control" name="table_num" type="text" /><br/>

        <button type="submit" value="submit">submit</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <% if (results) { %>
        <br/>
        共有 <%= results.length %> 人已經完成報到
        <table class="table table-bordered table-hover">
          <tr>
            <th>操作</th>  
            <th>號碼</th>  
            <th>姓名</th>  
            <th>桌次</th>  
            <th>報到時間</th>  
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td><a class="btn btn-primary" href='/deleteRegistration/<%= it.id %>'>刪除</a></td>
            <td><%= it.uid %></td> 
            <td><%= it.name %></td> 
            <td><%= it.table_num %></td> 
            <td><%= it.registration_time %></td>
          </tr>
        <% }); %>
        </table>
      <% } %>
    </div>
  </div>
</div>


</body>
</html>
