<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>
        報到管理
      </h3>

      <% if (results) { %>
        <br/>
        共有 <%= results.length %> 人已經完成報到
        <table class="table table-bordered table-hover">
          <tr>
            <th>操作</th>  
            <th>號碼</th>  
            <th>姓名</th>  
            <th>桌次</th>  
            <th>報到時間</th>  
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td><a class="btn btn-primary" href='/deleteRegistration/<%= it.id %>'>del</a></td>
            <td><%= it.uid %></td> 
            <td><%= it.name %></td> 
            <td><%= it.table_num %></td> 
            <td><%= it.registration_time %></td>
          </tr>
        <% }); %>
        </table>
      <% } %>
    </div>
  </div>
</div>


</body>
</html>
