<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>
      Manage Registration
      </h3>

      <% if (results) { %>
        <br/>
        There are <%= results.length %> people registered
        <table class="table table-bordered table-hover">
          <tr>
            <th>operation</th>  
            <th>#</th>  
            <th>uid</th>  
            <th>name</th>  
            <th>registration time</th>  
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td><a class="btn btn-primary" href='/deleteRegistration/<%= it.id %>'>del</a></td>
            <td><%= it.id %></td>
            <td><%= it.uid %></td> 
            <td><%= it.name %></td> 
            <td><%= it.registration_time %></td>
          </tr>
        <% }); %>
        </table>
      <% } %>
    </div>
  </div>
</div>


</body>
</html>
