<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>
        報到
      </h3>

      <form action="/registerSubmit" method="POST">
      號碼 <input id="uid" name="uid" type="text" forcus />
        <button type="submit" value="submit">submit</button>
      </form>

      <form action="/registerByNameSubmit" method="POST">
      姓名 <input id="name" name="name" type="text"/>
        <button type="submit" value="submit">submit</button>
      </form>
      
      <br/>
      <% if (results) { %>
        <br/>
        共有 <%= results.length %> 人已經完成報到
        <table class="table table-bordered table-hover">
          <tr>
            <th>號碼</th>  
            <th>姓名</th>  
            <th>桌次</th>  
            <th>報到時間</th>  
          </tr>
        <% results.forEach( (it) => { %>
          <tr>
            <td><%= it.uid %></td> 
            <td><%= it.name %></td> 
            <td><%= it.table_num %></td> 
            <td><%= it.registration_time %></td>
          </tr>
        <% }); %>
        </table>
      <% } %>
    </div>
  </div>
</div>


</body>

<script> document.getElementById("uid").focus(); </script>
</html>
