<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <% include ../partials/header.ejs %>
<title>jSlots Slot Machine - Matthew Lein</title>


<link href='https://fonts.googleapis.com/css?family=Gravitas+One&text=1234567' rel='stylesheet' type='text/css'>

<style type="text/css">


ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 20px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.slot {
    float: left;
}



/* ---------------------------------------------------------------------
   FANCY EXAMPLE
--------------------------------------------------------------------- */
.fancy .jSlots-wrapper {
    overflow: hidden;
    height: 100px;
    display: inline-block; /* to size correctly, can use float too, or width*/
    border: 1px solid #999;
}

.fancy .slot li {
    width: 1000px;
    line-height: 100px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    border-left: 1px solid #999;
}

.fancy .slot:first-child li {
    border-left: none;
}

.fancy .slot li {
    background-color: #FFCE29;
}
.fancy .slot li:nth-child(6) {
    background-color: #FFA22B;
}
.fancy .slot li:nth-child(5) {
    background-color: #FF8645;
}
.fancy .slot li:nth-child(4) {
    background-color: #FF6D3F;
}
.fancy .slot li:nth-child(3) {
    background-color: #FF494C;
}
.fancy .slot li:nth-child(2) {
    background-color: #FF3333;
}
.fancy .slot li:nth-child(1) {
    background-color: #FF0000;
}

.fancy .slot li span {
    display: block;
}

/* ---------------------------------------------------------------------
   ANIMATIONS
--------------------------------------------------------------------- */

@-webkit-keyframes winner {
        0%, 50%, 100% {
            -webkit-transform: rotate(0deg);
            font-size:70px;
            color: #fff;
        }
        25% {
            -webkit-transform: rotate(20deg);
            font-size:90px;
            color: #FF16D8;
        }
        75% {
            -webkit-transform: rotate(-20deg);
            font-size:90px;
            color: #FF16D8;
        }
}
@-moz-keyframes winner {
        0%, 50%, 100% {
            -moz-transform: rotate(0deg);
            font-size:70px;
            color: #fff;
        }
        25% {
            -moz-transform: rotate(20deg);
            font-size:90px;
            color: #FF16D8;
        }
        75% {
            -moz-transform: rotate(-20deg);
            font-size:90px;
            color: #FF16D8;
        }
}
@-ms-keyframes winner {
        0%, 50%, 100% {
            -ms-transform: rotate(0deg);
            font-size:70px;
            color: #fff;
        }
        25% {
            -ms-transform: rotate(20deg);
            font-size:90px;
            color: #FF16D8;
        }
        75% {
            -ms-transform: rotate(-20deg);
            font-size:90px;
            color: #FF16D8;
        }
}


@-webkit-keyframes winnerBox {
        0%, 50%, 100% {
            box-shadow: inset 0 0  0px yellow;
            background-color: #FF0000;
        }
        25%, 75% {
            box-shadow: inset 0 0 30px yellow;
            background-color: aqua;
        }
}
@-moz-keyframes winnerBox {
        0%, 50%, 100% {
            box-shadow: inset 0 0  0px yellow;
            background-color: #FF0000;
        }
        25%, 75% {
            box-shadow: inset 0 0 30px yellow;
            background-color: aqua;
        }
}
@-ms-keyframes winnerBox {
        0%, 50%, 100% {
            box-shadow: inset 0 0  0px yellow;
            background-color: #FF0000;
        }
        25%, 75% {
            box-shadow: inset 0 0 30px yellow;
            background-color: aqua;
        }
}



.winner li {
    -webkit-animation: winnerBox 2s infinite linear;
       -moz-animation: winnerBox 2s infinite linear;
        -ms-animation: winnerBox 2s infinite linear;
}
.winner li span {
     -webkit-animation: winner 2s infinite linear;
        -moz-animation: winner 2s infinite linear;
         -ms-animation: winner 2s infinite linear;
}

</style>



</head>
<body>

    <a href="/gameplay">BACK</a>
    <br/>
    <br/>


    <table>
        <tr><td valign="middle" style="font-size: 48px">
            <img src="/img/now_we_will_play.png" width="300"/> <%= gameName %>
        </td></tr>
        <trd><td>
            <img src="/img/top.jpg"/>
        </td></tr>
        <tr><td width="1024px">
            <div class="fancy">
                <ul class="slot">
                <% if (results) { %>
                <li><span> ?????? </span></li>
                <% results.forEach( (it) => {  %>
                <li><span><%= it %></span></li>
                <% }); %>
                <% } %>
                </ul>
                <input type="button" id="playFancy" value="Play">
            </div>
        </td></tr>
        <tr><td align="center">
            <% if (reminderCount > 0) { %>
            <a id="playNextButton" href="/execute/<%= gid %>/true" style="padding: 0px">
                <img src="/img/play_next_button.png" width="300"/>
            </a>
            <% } %>
        </td></tr>
        <tr><td align="right" valign="middle" style="font-size: 48px">
            <img src="/img/still.png" width="100" /> <span id='reminderCount'><%= reminderCount %></span> <img src="/img/chances.png" width="150" />
        </td></tr>
    </table>

    <br/>
    <% if (winners) { %>
        <table id="winnerList" class="table table-bordered table-hover" style="background-color: white">
            <tr>
                <th>號碼</th>
                <th>姓名</th>
                <th width="300"></th>
            </tr>
          <% winners.forEach( (it) => { %>
            <tr>
                <td><%= it.uid %></td>
                <td><%= it.name %></td>
                <td></td>
            </tr>
          <% }); %>
        </table>
    <% } %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.jSlots.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        function cancelButtonAction() {
            $.get( "/cancelWinnerQuietly/<%= gid %>/<%= results[0].split(' ')[0] %>", function( data ) { });

            $('#cancelRow').hide();
            $('#reminderCount').text('<%= reminderCount %>');
        }
        
        // fancy example
        $('.fancy .slot').jSlots({
            number : 1,
            winnerNumber : 2,
            spinner : '#playFancy',
            easing : 'easeOutSine',
            time : 7000,
            loops : 4,
            onStart : function() {
                $('.slot').removeClass('winner');
            },
            onWin : function(winCount, winners) {
                // only fires if you win
                
                $.each(winners, function() {
                    //this.addClass('winner');
                });
                
                $('#reminderCount').text('<%= reminderCount-1 %>');

                <% if (reminderCount-1 <= 0) {%>
                    $('#playNextButton').hide();
                <% } %>

                $('#winnerList tr:first').after('<tr id="cancelRow" >\n' +
                    '              <td><%= results[0].split(' ')[0] %></td>' +
                    '              <td><%= results[0].split(' ')[1] %></td>' +
                    '<td><button onclick="cancelButtonAction()" class="btn btn-primary" >取消資格</button> </td> \n' +
                    '            </tr>');

            }
        });
        
        $('#playFancy').hide();


        <% if (playRightNow === 'true') { %>
            setTimeout(function() {
                $('#playFancy').click();
            }, 1000);
        <% } %>

    </script>
    
</body>
</html>
